<!DOCTYPE html>
<html>
<head>
	<title>Weather Station</title>
    <link rel="stylesheet" href="stylesheets/weather.css">
    <script src="scripts/weather.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <h1 id="header">Weather Station</h1>
    <button id="current_location_button" onclick="getLocation()">Use Current Location</button>
	<div id="search">
		City: <input id="search_bar" type="text" size="14" name="city" onkeyup="search()">
		<input id="info_button" onclick="showPosition('')" type="submit" name="calc" value="Get Info">
	</div>
    <br>
    <div id="info_wrapper"><div id="weather_info">
        <% if (typeof error == 'undefined' && typeof city == 'undefined'
              && typeof temp == 'undefined' && typeof description == 'undefined') { %>
            <h1>Welcome to Weather Station!</h1><br>
            Search for a city or use your current location.<br>
        <% } if (typeof error != 'undefined') { %>
            <h2>ERROR: <%= error %></h2>
        <% } if (typeof city != 'undefined') { %>
            <%= city %><br>
        <% } if (typeof temp != 'undefined') { %>
            <%= temp %><br>
        <% } if (typeof description != 'undefined') { %>
            <%= description %><br>
        <% } %>
        
        </div></div>
</body>
</html>